        </div>  <!-- /inner-wrapper -->
      </div>  <!-- /row -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-content -->

{% if includetabscripts %}
  <script type="text/javascript" src="{{site.data.info.assets}}jquery.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery-ui.min.js"> </script>
  <script type="text/javascript">
    try {
      var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
    } catch(exception) {
    }

    if (!currentTabIndex)
      currentTabIndex = '0';

    $( '#tabs' ).tabs({
      active: currentTabIndex,
      activate: function( event, ui ) {
        var active = $('.selector').tabs('option', 'active');
        currentTabIndex = ui.newTab.index();
        document.activeElement.blur();
        try {
          sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
        } catch(exception) {
        }
      }
    });
  </script>
{% endif %}
  <div id="segment-footer" igtool="footer" class="segment">  <!-- segment-footer -->
    <div class="container">  <!-- container -->
      <div class="inner-wrapper">
        <p>
			<a id="belgium-logo" href="https://www.belgium.be/en" target="_blank">
				<img  alt="belgium.be" src="assets/images/logo-be.png">
			</a>
			<a id="ehealth-logo" href="https://www.ehealth.fgov.be" style="text-decoration:none">
				<img height="50" alt="Welcome on ehealth website" src="assets/images/logo-ehealth.png"/>
			</a>
            IG &#169; 2019+ <a style="color: #81BEF7" href="https://www.ehealth.fgov.be">eHealth Platform</a>.  Package hl7.be.core#1.0.0 based on <a style="color: #81BEF7" href="http://hl7.org/fhir/R4/">FHIR 4.0.1</a>. Generated <span title="Wed, Dec 18, 2019 09:12+0100">2019-12-18</span>
            <br/>
		    <span>
				Links: <a style="color: #81BEF7" href="toc.html">Table of Contents</a> |
                <a style="color: #81BEF7" href="qa.html">QA Report</a> |
                <a style="color: #81BEF7" rel="license" href="http://hl7.org/fhir/R4/license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a>
			</span>
		</p>
      </div>  <!-- /inner-wrapper -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-footer -->
  
  <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
    <div class="container">  <!-- container -->
    </div>  <!-- /container -->
  </div>  <!-- /segment-post-footer -->
  
  <!-- JS and analytics only. -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/bootstrap.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/respond.min.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/fhir.js"> </script>
  <script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor.min.js"> </script>
  <script>anchors.options.visible = 'hover'
anchors.add()</script>
  
  <!-- Analytics Below
  ================================================== -->
  </body>
</html>